html,
body {
    margin: 0px;
    padding: 0px;
}
@keyframes highlight {
    0% {
        background-color: white
    }

    50% {
        background-color: #2196f330
    }

    100% {
        background-color: white
    }
}
@keyframes shine {
    0% {
        background-color: red;
        color: white;
    }

    100% {
        color: unset;
    }
}